# rendered on {{ template_run_date }}
# updated
[Unit]
Description=Filebeat
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
RuntimeDirectory=filebeat
Environment=ES_HOME={{ fb_home_dir }}
Environment=ES_PATH_CONF={{ fb_conf_dir }}

WorkingDirectory={{ fb_home_dir }}

User={{ fb_service_user }}
Group={{ fb_service_group }}

ExecStart={{ fb_home_dir }}/filebeat -c {{ fb_conf_dir }}
Restart=always

# StandardOutput is configured to redirect to journalctl since
# some error messages may be logged in standard output before
# elasticsearch logging system is initialized. Elasticsearch
# stores its logs in /var/log/elasticsearch and does not use
# journalctl by default. If you also want to enable journalctl
# logging, you can simply remove the "quiet" option from ExecStart.
StandardOutput=journal
StandardError=inherit


# Specifies the maximum file size
# Assume EXT4 unless told otherwise
# If a file is larger than 16T there are other issues.
LimitFSIZE=16000000000000

[Install]
WantedBy=multi-user.target

# Built by -C, but mostly stolen shamelessly from:
# 	https://github.com/elastic/elasticsearch/blob/master/distribution/src/main/packaging/systemd/elasticsearch.service
# Using upstream sources to ease distribution packaging later.
